<?php

const DBDRIVE = "pgsql";
const DBHOST = "localhost";
const DBNAME = "postgresdb";
const DBUSER = "postgresuser";
const DBPASS = "postgrespass";

const MAILJET_APIKEY = "";
const MAILJET_SECRETKEY = "";